# Ignore environment files
Discord_Birthday/*.env
Discord_Music/*.env

# Ignore birthday data
Discord_Birthday/*.json
Discord_Music/*.json

# Ignore virtual environment
Discord_Birthday/venv/
Discord_Music/venv/
